**/bin/
**/obj/
**/node_modules/
**/build/
**/coverage/
**/*.user
**/*.suo
**/*.cache
.vs/
.vscode/
.idea/
*.db
*.db-shm
*.db-wal
**/Logs/
**/TestResults/
*.log
*.md
.git/
.gitignore
**/.dockerignore
docker-compose.yml
docker-compose.*.yml
*.dockerfile
Dockerfile*

