# Backend
API/bin/
API/obj/
Application/bin/
Application/obj/
Domain/bin/
Domain/obj/
Persistence/bin/
Persistence/obj/
Infrastructure/bin/
Infrastructure/obj/
Persistence/bin/
Persistence/obj/

# Frontend
task-management-ui/node_modules/
task-management-ui/build/
task-management-ui/.env

# Test results and Coverage reports
TaskManagementAppRepositoryTests/TestResults/
TaskManagementAppRepositoryTests/coveragereport/
TaskManagementAppUnitTests/TestResults/
TaskManagementAppUnitTests/coveragereport/

# TaskManagementApp Folder
TaskManagementApp.txt
.vs/
bin/
obj/
.env

# General
*.user
*.suo
*.cache
*.log
.DS_Store