# Use the official Microsoft SQL Server image
version: "3.8"
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "1433:1433"
    networks:
      - app-network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "sqlcmd -S localhost -U ${SA_USER} -P ${SA_PASSWORD} -Q 'SELECT 1' || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

    volumes:
      - mssql-data:/var/opt/mssql/data
      - mssql-log:/var/opt/mssql/log

  api:
    build:
      context: .
      dockerfile: API/Dockerfile
    container_name: taskmanagement-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__AppConnectionString=Server=sqlserver,1433;Database=TaskManagementDb;User=${SA_USER};Password=${SA_PASSWORD};TrustServerCertificate=True;
    ports:
      - "5000:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
    networks:
      - app-network

  frontend:
    build:
      context: ./task-management-ui
      dockerfile: Dockerfile
    container_name: taskmanagement-frontend
    ports:
      - "3000:80"
    depends_on:
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mssql-data:
  mssql-log:
